body {
    background-color: #0f0f0f;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    display: flex;
    flex-wrap: wrap;
}

.upperbar {
    position: relative;
    width: 100%;
}

.profession, .fullname, .upperbar .normallink {
    color: white;
}

.profession, .fullname, .upperbar .normallink {
    font-family: sans-serif, Verdana, Geneva, Tahoma;
}

.profession {
    font-weight: bold;
}

.upperbar .normallink {
    text-decoration: underline;
}

.upperbar {
    background-color: rgb(20, 35, 56);
}

@media screen and (max-width: 565px) {
    .fullname {
        font-size: x-large;
    }
    .upperbar .normallink, .profession {
        font-size: small;
    }
}

@media screen and (min-width: 566px) and (max-width: 675px) {

    .fullname {
        font-size: xx-large;
    }

    .upperbar .normallink, .profession {
        font-size: large;
    }
}

@media screen and (min-width: 676px) and (max-width: 830px) {

    .fullname {
        font-size: xx-large;
    }

    .upperbar .normallink, .profession {
        font-size: x-large;
    }
}

@media screen and (min-width: 831px) and (max-width: 1080px) {

    .fullname {
        font-size: xxx-large;
    }

    .upperbar .normallink, .profession {
        font-size: xx-large;
    }
}

@media screen and (max-width: 1080px) {

    .upperbar {
        padding-bottom: 9%;
        flex-wrap: wrap;
        display:flex;
        justify-content: center;
    }

    .upperbar .normallink {
        padding-inline: 3%;
        padding-top: 0%;
    }

    .namecontainer {
        height: 100%;
    }

    .namecontainer, .fullname, .profession {
        width: 100%;
    }

    .fullname {
        text-align: center;
        margin-top: 4%;
        margin-bottom: 1%;
    }
    .profession {
        text-align: center;
        margin-top: 0%;
        margin-bottom: 0%;
    }
}

@media screen and (min-width: 1081px) {
    .upperbar {
        display:flex;
        position: fixed;
        z-index: 3000;
        opacity: 0.95;
        background-color: rgb(28, 47, 73);
    }

    .upperbar .normallink {
        font-size: large;
        position: relative;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 0%;
        margin-right: 3%;
    }

    .upperbar #firstlink {
        margin-left: auto;
    }

    .upperbar #lastlink {
        margin-right: 5%;
    }

    .upperbar .namecontainer {
        min-width: 350px;
        padding-left: 1%;
        display: block;
    }

    .fullname {
        font-size: xx-large;
    }

    .profession {
        font-size: x-large;
        margin-top: -4%;
        margin-left: -0.4%;
    }
}