.gamebox {
    position: relative;
    text-align: center;
    margin-bottom: 1.3%;
}

.gamebox p, .gamebox .normallink, .tappreviewtext, .hoverpreviewtext {
    font-family: sans-serif, Verdana, Geneva, Tahoma;
}

.gamebox p, .gamebox .normallink, .tappreviewtext, .hoverpreviewtext {
    color: white;
}

.gamebox .gametitle, .tappreviewtext, .hoverpreviewtext {
    font-weight: bold;
}

.gamebox .gametitle {
    margin-top: 10px;
    margin-bottom: 15px;
}

.gamebox .normallink {
    display: grid;
    text-decoration: underline;
}

.gamebox p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.gamebox a:link {
    font-style: italic;
    padding-block: 5px;
}

.imagecontainer {
    position: relative;
    width: 100%;
    height: 55%;
    margin-top: 4%;
}

.gameimage, .previewoverlay, .gameimageoverlay, .tappreviewtext, .hoverpreviewtext {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.previewoverlay {
    background-color: #000000;
    opacity: 0.7;
}

.tappreviewtext, .hoverpreviewtext {
    align-content: center;
}

.gameimageoverlay, .tappreviewtext {
    opacity: 0;
}

.gameimageoverlay:hover, .hoverpreviewtext {
    opacity: 1;
}

.gameimageoverlay, .previewoverlay {
    transition: .5s ease;
}

.normalborderradius {
    border-radius: 3% / 4%;
}

.gamebox {
    border-radius: 4% / 3%;
}

@media screen and (max-width: 1080px) {

    .gamebox {
        width: 100%;
        margin: 3%;
        padding-left: 3%;
        padding-right: 3%;
        min-height: calc(100vw * 1.15);
        background-color: rgb(20, 35, 56);
    }

    .gamebox p {
        margin-top: 30px;
    }

    .gamebox .normallink {
        padding-inline: 1%;
        margin-bottom: 3%;
    }

    .gamebox .upperlink {
        margin-bottom: 20px;
    }

    .tappreviewtext {
        opacity: 1;
    }
    
    .hoverpreviewtext {
        opacity: 0;
    }
}

@media screen and (max-width: 565px) {
    .gamebox p , .gamebox a {
        font-size: small;
    }
}

@media screen and (min-width: 566px) and (max-width: 675px) {

    .gamebox .normallink, .gamebox p, .tappreviewtext, .hoverpreviewtext {
        font-size: large;
    }
}

@media screen and (min-width: 676px) and (max-width: 830px) {

    .gamebox .normallink, .gamebox p, .tappreviewtext, .hoverpreviewtext {
        font-size: x-large;
    }
}

@media screen and (min-width: 831px) and (max-width: 1080px) {

    .gamebox .normallink, .gamebox p, .tappreviewtext, .hoverpreviewtext {
        font-size: xx-large;
    }
}

@media screen and (min-width: 1081px) {

    .gamebox {
        width: 400px;
        height: 560px;
        padding-inline: 0.8%;
        margin-inline: 0.5%;
        background-color: rgb(31, 53, 87);
    }

    .gamebox .gametitle {
        font-size: x-large;
    }
}