.gamebox {
    position: relative;
    text-align: center;
    margin-bottom: 1.05%; /*override in big screen, check to delete*/
}

.gametitle, .gamedescription, .gamebox .normallink, .tappreviewtext, .hoverpreviewtext {
    font-family: sans-serif, Verdana, Geneva, Tahoma;
}

.gametitle, .gamedescription, .gamebox .normallink, .tappreviewtext, .hoverpreviewtext {
    color: white;
}

.gametitle, .tappreviewtext, .hoverpreviewtext {
    font-weight: bold;
}

.gametitle {
    margin-bottom: 15px;
}

.gamebox .normallink {
    display: grid;
    text-decoration: underline;
}

.gametitle, .gamedescription {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.gamebox a:link {
    font-style: italic;
    padding-block: 5px;
}

.imagecontainer {
    position: relative;
    width: 100%;
    height: 46.875%;
    margin-top: 4%;

    /*
    4:3
    width: 100%;
    height: 46.875%;
    */

    /*
    1920*1080
    width: 100%;
    height: 40.18%;
    */
}

.gameimage, .previewoverlay, .gameimageoverlay, .tappreviewtext, .hoverpreviewtext {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.previewoverlay {
    background-color: #000000;
    opacity: 0.7;
}

.tappreviewtext, .hoverpreviewtext {
    align-content: center;
}

.gameimageoverlay, .tappreviewtext {
    opacity: 0;
}

.gameimageoverlay:hover, .hoverpreviewtext {
    opacity: 1;
}

.gameimageoverlay, .previewoverlay {
    transition: .5s ease;
}

.normalborderradius {
    border-radius: 3% / 4%;
}

.gamebox {
    border-radius: 4% / 3%;
}

@media screen and (max-width: 1080px) {

    .gamebox {
        width: 75%;
        margin: 3%;
        padding-left: 3%;
        padding-right: 3%;
        min-height: calc(100vw * 1.15);
        background-color: rgb(20, 35, 56);
    }

    .tappreviewtext {
        opacity: 1;
    }

    .hoverpreviewtext {
        opacity: 0;
    }
}

@media screen and (max-width: 449px) {

    .gametitle {
        margin-top: 5%;
        margin-bottom: 6%;
    }

    .gametitle, .tappreviewtext {
        font-size: 18px;
    }

    .gamedescription {
        font-size: 16px;
        margin-top: 8%;
    }

    .gamebox .normallink {
        font-size: 18px;
        margin-bottom: 3%;
    }
}

@media screen and (min-width: 450px) and (max-width: 484px) {

    .gametitle {
        margin-top: 5%;
        margin-bottom: 6%;
    }

    .gametitle, .tappreviewtext {
        font-size: 22px;
    }

    .gamedescription {
        font-size: 18px;
        margin-top: 8%;
    }

    .gamebox .normallink {
        font-size: 18px;
        margin-bottom: 3%;
    }
}

@media screen and (min-width: 485px) and (max-width: 540px) {

    .gametitle {
        margin-top: 5%;
        margin-bottom: 6%;
    }

    .gametitle, .tappreviewtext {
        font-size: 24px;
    }

    .gamedescription {
        font-size: 20px;
        margin-top: 8%;
    }

    .gamebox .normallink {
        font-size: 20px;
        margin-bottom: 3%;
    }
}

@media screen and (min-width: 541px) and (max-width: 675px) {

    .gametitle, .tappreviewtext {
        font-size: 26px;
    }

    .gamedescription {
        font-size: 22px;
        margin-top: 8%;
    }

    .gamebox .normallink {
        font-size: 22px;
        margin-bottom: 2%;
    }
}

@media screen and (min-width: 676px) and (max-width: 827px) {

    .gametitle, .tappreviewtext {
        font-size: 30px;
    }

    .gamedescription {
        font-size: 26px;
        margin-top: 8%;
    }

    .gamebox .normallink {
        font-size: 26px;
        margin-bottom: 2%;
    }
}

@media screen and (min-width: 828px) and (max-width: 1080px) {

    .gametitle, .tappreviewtext {
        font-size: 36px;
    }

    .gamedescription {
        font-size: 32px;
        margin-top: 5%;
    }

    .gamebox .normallink {
        font-size: 32px;
        margin-bottom: 4%;
    }
}

@media screen and (min-width: 1081px) {

    .gamebox {
        width: 100%;
        height: calc(100vw * 1.15);
        max-width: 350px;
        max-height: 560px;
        padding-inline: 15px;
        margin-inline: 10px;
        background-color: rgb(31, 53, 87);
        margin-bottom: 20px;
    }

    .gametitle {
        font-size: 20px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .gamedescription {
        font-size: 18px;
        margin-top: 7%;
    }

    .gamebox .normallink {
        font-size: 18px;
        margin-bottom: 2%;
    }
}