.iconbox {
    height: 200px;
    padding: 20px;
    display: inline;
}

.captionbox {
    text-align: center;
    width: 200px;
    height: 230px;
    display: inline-block;
}

.captionbox img {
    display: inline-block;
    width: 200px;
}