@media screen and (max-width: 1080px) {
    
    .upperbar {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-block-end: 50px;
    }

    .name {
        font-size: xxx-large;
    }

    .upperbar .role {
        margin-top: -30px;
        font-size: xx-large;
    }
    
    .captionbox {
        min-width: 90%;
    }

    .captionbox a {
        display: inline-block;
        font-family: sans-serif, Verdana, Geneva, Tahoma;
        padding-inline: 1%;
        font-size: xx-large;
    }

    .captionbox p {
        font-size: xx-large;
    }
}

@media screen and (min-width: 1081px) {
    
    .name {
        display: inline-block;
        padding-right: 10%;
        font-size: xx-large;
    }

    .upperbar .role {
        margin-top: -15px;
    }

    .upperbar a {
        display: inline-block;
        padding: 10px;
        margin-right: 10%;
    }

    .captionbox {
        min-width: 400px;
    }

    .captionbox a {
        display: block;
        font-family: sans-serif, Verdana, Geneva, Tahoma;
    }
}

body {
    background-color: #111111;
}

.upperbar .role {
    color: white;
    font-family: sans-serif, Verdana, Geneva, Tahoma;
    font-weight: bold;
}

.name {
    color: white;
    font-family: sans-serif, Verdana, Geneva, Tahoma;
}

.iconbox {
    vertical-align: top;
    height: 20%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.captionbox {
    vertical-align: top;
    width: 20%;
    height: 25%;
    display: inline-block;
}

.captionbox img {
    border-radius: 10px;
    display: inline-block;
    width: 100%;
}

.captionbox p {
    color: white;
    padding: 0px;
    font-family: sans-serif, Verdana, Geneva, Tahoma;
    margin-top: 8px;
}

.captionbox .gametitle {
    font-weight: bold;
}

.captionbox .upperlink {
    margin-top: -10px;
}

.captionbox a:link {
    font-style: italic;
    text-decoration: underline;
    padding-block: 5px;
    color: white;
}

.captionbox a:visited {
    color: white;
}

.imagecontainer {
    position: relative;
}

.imagecontainer {
    border-radius: 10px;
    display: inline-block;
    width: 100%;
}

.imagecontainer img {
    border-radius: 10px;
    display: inline-block;
    width: 100%;
}

.overlay {
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.overlay:hover {
    opacity: 1;
}