/*---------------------------fonts------------------------------*/
.upperbar .role, .upperbar .name, .captionbox p, .captionbox a {
    font-family: sans-serif, Verdana, Geneva, Tahoma;
}
/*------------------------font colors--------------------------*/
.upperbar .role, .upperbar .name, .captionbox p, .normallink {
    color: white;
}
/*------------------------font weight--------------------------*/
.upperbar .role, .captionbox .gametitle {
    font-weight: bold;
}
/*---------------------background colors----------------------*/
.upperbar, .captionbox {
    background-color: rgb(63, 63, 63);
}

body {
    background-color: #202020;
}
/*--------------------------display---------------------------*/
.iconbox, .captionbox, .imagecontainer, .gameimage {
    display: inline-block;
}
/*------------------------------------------------------------*/

/*----------------small screen settings-----------------------*/
@media screen and (max-width: 480px) {

    .upperbar .name {
        font-size: x-large;
    }

    .upperbar .role, .normallink, .upperbar p, .captionbox p {
        font-size: large;
    }

    .captionbox p {
        text-align: center;
    }
}

@media screen and (min-width: 481px) {
    .captionbox p {
        text-align: justify;
        text-align-last: center;
    }
}

/*----------------mobile screen settings-----------------------*/
@media screen and (min-width: 481px) and (max-width: 1080px) {

    .upperbar .name {
        font-size: xxx-large;
    }

    .upperbar .role, .normallink, .upperbar p, .captionbox p {
        font-size: xx-large;
    }
}

@media screen and (max-width: 1080px) {

    .upperbar {
        text-align: center;
        min-width: 91.8%;
        max-width: 91.8%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5% / 9%;
        margin-top: 2.5%;
    }

    .upperbar .name {
        font-size: xxx-large;
        margin-top: 4%;
        margin-bottom: 8%;
    }

    .upperbar .role {
        margin-top: -13%;
    }

    .upperbar .normallink {
        padding-inline: 2%;
    }

    .captionbox {
        min-width: 90%;
        max-width: 90%;
        margin-top: 3%;
    }

    .captionbox .normallink {
        padding-inline: 1%;
    }

    .normalborderradius {
        border-radius: 5% / 3%;
    }
    
    .gameimage, .gameimageoverlay {
        width: 92%;
        margin-top: 5%;
    }
    
    .gameimageoverlay {
        left: 4%;
        right: 4%;
    }
}

/*----------------big screen settings-----------------------*/
@media screen and (min-width: 1081px) {

    .upperbar .name {
        display: inline-block;
        padding-right: 10%;
        font-size: xx-large;
    }

    .upperbar .role {
        margin-top: -15px;
    }

    .upperbar a {
        display: inline-block;
        margin-right: 10%;
    }

    .captionbox {
        min-width: 400px;
        max-width: 400px;
        min-height: 550px;
        max-height: 550px;
    }

    .normalborderradius {
        border-radius: 3% / 3%;
    }

    .gameimage, .gameimageoverlay {
        width: 390px;
        margin-top: 20px;
    }
    
    .gameimageoverlay {
        left: 1.1%;
        right: 2%;
    }
}
/*------------------------------------------------------------*/

.upperbar {
    padding-top: 1%;
    padding-bottom: 5%;
}

.upperbar .normallink {
    display: inline-block;
}

.iconbox {
    vertical-align: top;
    /*height: 20%;*/
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1.3%;
}

.captionbox {
    vertical-align: top;
    width: 20%;
    /*height: 30%;*/
    padding-inline: 1%;
    /*min-height: 550px;*/
    margin-inline: 0.5%;
    margin-bottom: 1.3%;
}

.captionbox p {
    padding: 0px;
    text-align: justify;
    text-align-last: center;
    margin-top: 8px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.normallink {
    text-decoration: underline;
}

.captionbox .normallink {
    margin-bottom: 6%;
    display: grid;
}

.captionbox a:link {
    font-style: italic;
    padding-block: 5px;
}

.captionbox .upperlink {
    margin-bottom: 10px;
}

.imagecontainer {
    position: relative;
}

.imagecontainer {
    width: 100%;
}

.gameimageoverlay {
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    height: 93%;
}

.gameimageoverlay:hover {
    opacity: 1;
}